body {
  background-color: #f4f5f6;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Condensed",sans-serif;
  color: black;
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
}

.container, .container-fluid {
  max-width: 1310px;
}

.container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}

.header {
  padding: 0;
  position: relative;
}

.header-top {
  background-color: #f72210;
  height: 95px;
  padding: 20px 10px 15px;
}

.header date {
  font: 16px/34px "Roboto Condensed",sans-serif;
  color: white;
}

.header-bottom {
  padding: 15px 160px 15px 0;
  background-color: white;
  border-bottom: 2px solid #f4f5f6;
  position: relative;
  display: block;
}

.section-nav {
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  display: block;
  color: #000;
  flex-grow: 1;
  border-left: 1px solid #d9d9d9;
}

.section-nav:first-child {
  border-left: none;
}

.header-bottom a:hover  {
  color: #f72210;
  text-decoration: none;
}

.trending-topics-wrapper {
  border-top: 2px solid #f4f5f7;
  padding-top: 13px;
  margin: 13px -160px -10px 0;
  overflow-y: hidden;
  overflow-x: scroll;
}

.trending-topics {
  font: 18px/18px "Roboto Condensed",sans-serif;
  color: #807f84;;
  display: flex;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}

.trending-topics strong {
  color: #000;
}

.trending-topics li {
  text-align: center;
  padding: 0 0 0 30px;
}

.main {
  background-color: #fff;
  padding-top: 20px;
}

.block-title {
  color: rgba(3,3,3,.4);
  font: bold 16px/16px "Roboto Condensed",sans-serif;
  text-transform: uppercase;
  padding-bottom: 11px;
}

.featured {
  padding-bottom: 20px;
}

.featured .wrap {
  position: relative;
  min-height: 33px;
  margin-bottom: 10px;
}

.stories .category {
  display: block;
  font: bold 17px/16px "Roboto Condensed",sans-serif;
  color: #f72210;
  text-transform: uppercase;
  padding: 8px 15px 9px;
  background-color: rgba(255,255,255,.9);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.stories .image a {
  display: block;
  width: 100%;
}

.stories .image img {
  width: 100%;
}

.featured h3, .top-story h1 {
  margin-bottom: 10px;
  position: relative;
}

.stories .summary {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 20px;
}

.top-story .wrap {
  position: relative;
  min-height: 33px;
  margin-bottom: 10px;
}

.culture-stories .info {
  padding: 15px 0 20px;
  font: bold 16px/19px "Roboto Condensed",sans-serif;
  color: rgba(3,3,3,.5);
  margin-bottom: 10px;
}

.featured-more img {
  width: 95px;
  height: 95px;
  margin: 0 15px 10px 0;
}

.featured-more {
  padding: 14px 0 14px;
  border-top: 1px solid #ddd;
}

.featured-more h4 {
  font-size: 17px;
  line-height: 20px;
}

.debate-item {
  border-top: 4px solid #d9d9d9;
  padding-top: 10px;
  padding-bottom: 12px;
}

.opinion img {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  margin-right: 15px;
}

.opinion .title {
  padding-top: 3px;
  font: bold 17px/21px "Roboto Condensed",sans-serif;
  margin: 0;
}

.opinion .byline {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: black;
  font-family: "Roboto Condensed", sans-serif;
  margin: 4px 0 0 0;
}

.opinion .debate-item.bottom {
  border-bottom: 4px solid #d9d9d9;
  border-top-style: double;
  padding-bottom: 12px;
  margin-bottom: 1em;
}

.debate-item.bottom img {
  margin: 0 0 0 15px;
}

.byline.grey {
  color: #555;
}

.magazine .title {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 8px;
  font: bold 19px/19px "Roboto Condensed",sans-serif;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.magazine .image {
  width: 290px;
  height: 290px;
  object-fit: cover;
  object-position: 50% 50%; 
}

.magazine .category {
  font: bold 16px/26px "Roboto Condensed",sans-serif;
  color: #f72210;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}

.magazine .category .mag-cat {
  padding: 0 7px;
  background-color: #f72210;
  color: white;
  margin-right: 10px;
  display: inline-block;
}

.magazine .category .cat {
  display: inline-block;
}

.section-picks .block-title {
  border-top: 1px solid #d9d9d9;
  color: #f72210;
  padding-top: 25px;
  font-size: 22px;
  line-height: 22px;
  text-transform: none;
}

.section-picks h4 {
  margin-top: 10px;
  margin-bottom: 25px;
}

.section-picks .small-image {
  width: 95px;
  margin-right: 15px;
}

.section-picks .info {
  font: bold 17px/21px "Roboto Condensed",sans-serif;
}

.brand {
  display: block;
  width: 236px;
  height: 36px;
  margin-right: 15px;
  margin-bottom: 12px;
}

footer .copyright {
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  color: #666;
  margin-bottom: 12px;
}

footer nav {
  color: #666;
  font-size: 14px;
  line-height: 15px;
}

.menu, .menu-links {
  list-style: none outside none;
}

.menu li, .menu-links li {
  border-right: 1px solid #d9d9d9;
  padding-right: 10px;
  margin-right: 10px;
  display: inline-block;
}

.menu-links li {
  margin-top: 6px;
}